body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 93.7pc;
    background-color: aliceblue;
}
header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 35px;
    cursor: pointer;
}
ul {
    margin-right: 60px;
    display: flex;
    gap: 35px;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
}
li {
    padding: 14px;
}
.contact {
    background-color: white;
    border-radius: 60px;
}
.orange {
    text-align: center;
    width: 100%;
    height: 40pc;
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title {
    font-family: 'Fraunces', serif;
    font: 100;
    color: white;
    margin: 0;
    font-size: 70px;
    position: relative;
    top: 80px;
}
.arrow {
    height: 180px;
    position: relative;
    top: 160px;
}
.form1 {
    display: flex;
    width: 100%;
    background-color: rgb(214, 214, 35);
    height: 28pc;
}
.ele1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 29pc;
    width: 50%;
    background-color: rgb(253, 253, 253);
}
.ele2 {
    height: 29pc;
    width: 50%;
    background-color: rgb(134, 27, 221);
    background-image: url(images/desktop/image-transform.jpg);
}
h3 {
    font-size: 35px;
    width: 290px;
    color: hsl(198, 62%, 26%);
}
h6 {
    cursor: pointer;
    font-size: 15px;
}

h6:hover {
    border-bottom: 4px solid hsl(51, 100%, 49%);
    width: 110px;
    border-bottom-right-radius: 10px;
}
/* _____________________________________________________________________________________ */
.ele4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 29pc;
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.ele3 {
    height: 29pc;
    width: 50%;
    background-image: url("images/desktop/image-stand-out.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.num2 {
    width: 330px;
}
/* _____________________________________________________________________________________ */
.ele5 {
    height: 29pc;
    width: 50%;
    background-image: url('images/desktop/image-graphic-design.jpg');
    text-align: center;
}
.ele6 {
    height: 29pc;
    width: 50%;
    background-image: url('images/desktop/image-photography.jpg');
    text-align: center;
}
.description {
    position: relative;
    top: 18.2pc;
}
h4 {
    font-size: 25px;
    position: relative;
    top: 15px;
}
/* ______________________________________________________________________________________ */
.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38pc;
}
.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 80%;
}
.users {
    display: flex;
    justify-content: space-between;
    height: 20pc;
    width: 98%;
}
.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 21.7pc;
}
.profile {
    margin-top: 20px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    top: 29px;
}
.t-rev {
    font-size: 19px;
    position: relative;
    top: 45px;
}
h5 {
    font-size: 20px;
    position: relative;
    top: 40px;
}
/* _________________________________________________________________________________________ */
.random {
    background-color: rgb(241, 141, 9);
    width: 100%;
    height: 30pc;
    display: flex;
}
.ran {
    width: 25%;
    height: 100%;
}
.ran1 {
    /* background-color: beige; */
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
    background-size: cover;
    background-position: center;
}
.ran2 {
    /* background-color: rgb(238, 238, 63); */
    background-image: url("images/desktop/image-gallery-orange.jpg");
    background-size: cover;
    background-position: center;
}
.ran3 {
    /* background-color: rgb(34, 152, 207); */
    background-image: url("images/desktop/image-gallery-cone.jpg");
    background-size: cover;
    background-position: center;
}
.ran4 {
    /* background-color: rgb(240, 15, 15); */
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
    background-size: cover;
    background-position: center;
}
/* _______________________________________________________________________________________ */
.footer {
    height: 20pc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sunny {
    margin-top: 50px;
}
.ul {
    position: relative;
    bottom: 20px;
}
.social {
    display: flex;
    gap: 21px;
    position: relative;
    top: 60px;
}
